{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="display-3 text-center mb-5">Change Password</h1>
      <form action="" method="post" class="form border rounded p-4" style="background-color: #f8f9fa;">
        <div class="mb-3">
          <label for="cpassword" class="form-label">Current Password</label>
          <input type="password" name="cpassword" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="npassword" class="form-label">New Password</label>
          <input type="password" name="npassword" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="rnpassword" class="form-label">Re-enter New Password</label>
          <input type="password" name="rnpassword" class="form-control" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-arrows-rotate"></i> Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block style %}
<style>
  .container {
    justify-content: center;
  }
</style>
{% endblock %}
```


