{% extends 'layout.html'%} {% block title%} Login {% endblock%} {% block
content %}

<h1 class="display-1">Login</h1>

<form action="" class="form" method="post">
  <div class="form-group">
    <label for="username-email" class="form-label">Username/Email</label>
    <input type="text" name="username-email" class="form-control" required />
  </div>
  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" required />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Login</button>
</form>

{% endblock %}
