{% extends 'layout.html' %}

{% block title %}My Books{% endblock %}

{% block content %}

  <h1 class="display-3 text-center">My Books</h1>

  <div class="showcase-books">
    {% if books %}
      {% for genre in genres %}
        <div class="genres">
          <h2>{{genre.name}}</h2>
          <hr>
          <div class="books">
                {% for book in genre.books %}
                    {% if book in books %}
                      {% if (parameter=="book" and query.lower() in book.title.lower()) or (parameter == "price" and query >= book.price) or (parameter=="genre") or (not parameter) %}
                          <div class="card" style="width: 13rem;">
                            <a href="{{ url_for("accessed_book", book_id=book.id) }}"><img src="{{book.image}}" height="250px" width="400px" class="card-img-top" alt="{{book.title}}"></a>
                            <div class="card-body">
                                <a href="{{ url_for("accessed_book", book_id=book.id) }}">
                                  <h6 class="card-title"><strong>{{ book.title }}</strong></h6>     
                                </a>
                              </link>       
                            </div>
                          </div>
                      {% endif %}
                    {% endif %}
                {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-info" role="alert">
        <h5 class="text-center">You have not bought any books yet</h5>
      </div>
    {% endif %}
  </div>
{% endblock %}



{% block style %}
<style>

  .showcase-books {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .genres {
    margin: 20px 0 20px 0;
  }

  .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .card {
    margin: 10px;
  }

  .card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
  color: inherit;
  text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: blue;
  }

  h1 {
    margin-top: 10px;
  }
</style>
{% endblock %}