{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-3 text-center mb-4">Orders</h1>

        <div class="d-flex justify-content-between mb-4">
            <button class="btn btn-primary" onClick="window.print();">
                <i class="fa fa-print"></i>
                Print
            </button>

            <a href="{{ url_for('export_csv') }}" class="btn btn-outline-success">
                <i class="fa-solid fa-file-export"></i>
                Export
            </a>
        </div>

        <hr>

        {% if transactions|length == 0 %}
            <div class="alert alert-info">
                <h2 class="display-4">No orders found.</h2>
            </div>
        {% else %}
            {% for transaction in transactions %}
                <div class="heading mb-3">
                    <h2 class="text-muted">Transaction #{{ transaction.id }}</h2>
                    <p class="datetime">{{ transaction.date_paid.strftime("%d %b %Y, %I:%M %p") }}</p>
                </div>

                <div class="orders">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 40%;">Book Title</th>
                                <th style="width: 15%;">Quantity</th>
                                <th style="width: 15%;">Price</th>
                                <th style="width: 20%;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchase in transaction.purchase %}
                                <tr>
                                    <td>{{ purchase.book.title }}</td>
                                    <td>{{ purchase.quantity }}</td>
                                    <td>&#8377; {{ purchase.book.price }}</td>
                                    <td>&#8377; {{ purchase.quantity * purchase.book.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block style %}
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .datetime {
            font-size: 1.0em;
            color: #666;
        }

        .orders {
            margin-top: 20px;
        }
    </style>
{% endblock %}
