{% extends "layout.html" %} 

{% block title %}Profile{% endblock %} 

{% block content %}

{% set user = librarian if user is none else user %}

<h1 class="display-1">
  Welcome
  <span class="text-muted">
    {{user.name}}
   </span>
</h1>

<div class="profile-img">
  <img src="https://api.dicebear.com/7.x/pixel-art/svg?seed={{user.username}}" width="100" alt="Profile Image" class="img-fluid" />
</div>

<div class="alert alert-info" role="alert">
  <strong>Info:</strong> You can update your profile <here class=""></here>
</div>

<a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>

<!-- Form to update Profile -->

<form action="" method="post" class="form">
  <div class="form-group">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" value="{{user.name}}" required />
  </div>
  <div class="form-group">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" value="{{user.username}}" required />
  </div>
  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" value="{{user.email}}" required />
  </div>
  <a class="btn btn-warning" href="{{ url_for("change_password") }}" role="button">Change Password</a>
  <button type="submit" class="btn btn-info">Save</button>
</form>

{% endblock %}